{% extends "base.html" %}
{% load django_bootstrap5 i18n %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>{% translate "Debts" %}</h1>

<div class="d-flex align-items-center my-3">
  {% bootstrap_button _("Add a Debt") href="debt/add" extra_classes="w-50 mx-auto py-3" %}
</div>

{% render_table table %}

<div class="d-flex align-items-center my-3">
  {% bootstrap_button _("Back") href="/" button_class="btn-secondary" extra_classes="w-50 mx-auto py-3" %}
</div>
{% endblock %}
