{% extends "base.html" %}
{% load django_bootstrap5 i18n %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>{% translate "Debts" %}</h1>

<form action="" method="get" class="form form-horizontal">

  {% comment %}
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="id_user">{% translate "User" %}</label>
    <div class="col-sm-10">
      <input id="id_user" name="user" list="userlistOptions" class="form-control" placeholder="{% translate "User" %}" aria-label="{% translate "User" %}" />
      <datalist id="userlistOptions">
        {% for user in users %}
        <option value="{{ user.username }}">{{ user }}</option>
        {% endfor %}
      </datalist>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="id_name">{% translate "Debt" %}</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" placeholder="{% translate "Debt" %}" id="id_name">
    </div>
  </div>
  {% endcomment %}

  {% bootstrap_form filter.form layout="horizontal" %}
  <div class="d-flex align-items-center my-3">
    <button class="btn btn-success w-25 mx-auto py-2" type="submit"><i class="bi bi-search"></i> {% translate "Filter" %}</button>
  </div>
</form>

{% render_table table %}

{% endblock %}
