{% extends "base.html" %}
{% load django_bootstrap5 i18n %}

{% block content %}
<h1>{% translate "Debt" %}: {{ debt.name }}</h1>

<div class="d-flex align-items-center my-3">
  {% bootstrap_button _("Edit Debt") href=debt.get_edit_url extra_classes="w-50 mx-auto py-3"%}
</div>

{% include "compotes/_debt_detail.html" %}

<div>
  <h2>{% translate "Add a part" %}</h2>
  {% url 'part_create' pk=debt.pk as ndh_form_action %}
  {% include "ndh/form.html" with ndh_form_action=ndh_form_action %}
</div>

<h2>{% translate "Parts" %}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{% translate "Debitor" %}</th>
      <th scope="col">{% translate "Description" %}</th>
      <th scope="col" class="text-center">{% translate "Parts" %}</th>
      <th scope="col" class="text-end">{% translate "Debt" %}</th>
      <th scope="col" class="text-center">{% translate "Update" %}</th>
      <th scope="col" class="text-center">{% translate "Delete" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for part in debt.part_set.all %}
    <tr>
      <td>{{ part.debitor }}</td>
      <td>{{ part.description }}</td>
      <td class="nombre text-center">{{ part.part }}</td>
      <td class="euro">{{ part.value|floatformat:2 }}</td>
      <td class="text-center"><a href="{% url 'part_update' pk=part.pk %}">✏️</a></td>
      <td class="text-center"><a href="{% url 'part_delete' pk=part.pk %}">❌</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="d-flex align-items-center my-3">
  {% bootstrap_button _("List Debts") href="/debts" button_class="btn-secondary" extra_classes="w-25 mx-auto py-3" %}
  {% bootstrap_button _("Back") href="/" button_class="btn-secondary" extra_classes="w-25 mx-auto py-3" %}
</div>
{% endblock %}
