[Unit]
Description=Run compotes reminder
OnFailure=sendmail-wrapper@compotes.service

[Service]
Type=simple
ExecStart=/usr/bin/docker exec compotes-app-1 ./manage.py reminder
